#!/usr/bin/perl

use DBI;

my $host='{{ item.host | default(item.name) }}';
{% if item.quiesce_mysql is defined %}
my $user='{{item.quiesce_mysql.user | default(backuppc_companion_quiesce_mysql_user) }}';
my $password='{{ item.quiesce_mysql.password | default(backuppc_companion_quiesce_mysql_password) }}';
my $port='{{ item.quiesce_mysql.port | default(backuppc_companion_quiesce_mysql_port) | default(3306) }}';
{% endif %}

{% if item.snapshot is defined %}
my $filesystem='{{ item.snapshot.filesystem | default(backuppc_companion_filesystem_prefix+item.name+backuppc_companion_filesystem_suffix) }}';
my $volumegroup='{{ item.snapshot.volumegroup | default('vg') }}';
my $snapshotname='{{ item.snapshot.name | default('backup-'+item.name) }}';
my $snapshotmount='{{ item.snapshot.mountpoint | default(backuppc_companion_snapshot_mount+'/backup-'+item.name) }}';
{% endif %}

my $arg=$ARGV[0];

if($arg eq "pre") {
{% if item.quiesce_mysql is defined %}
	# Connect to the local database
	$dbh = DBI->connect("DBI:mysql:mysql:${host}:${port}", $user, $password) || die;

	# Flush and lock tables to prepare for LVM snapshot
	$dbh->do('FLUSH TABLES WITH READ LOCK;');
{% endif %}

{% if item.shutdown_services is defined %}
{% for s in item.shutdown_services %}
	# shutdown {{s}} so that we can safely backup svn
	system("/usr/bin/ssh -q -x  ${host} service {{s}} stop");
{% endfor %}
{% endif %}

{% if item.snapshot is defined %}
	# Create LVM snapshot volume
	system("/sbin/lvcreate -L20G -s -n ${snapshotname} ${filesystem}");

	#mount snapshot
	system("/bin/mount /dev/vg/${snapshotname} ${snapshotmount}");
{% endif %}

{% if item.shutdown_services is defined %}
{% for s in item.shutdown_services %}
	# restart apache
	system("/usr/bin/ssh -q -x  ${host} service {{s}} start");
{% endfor %}
{% endif %}

{% if item.quiesce_mysql is defined %}
	# Release table lock
	$dbh->do('UNLOCK TABLES;');
	# Disconnect from database
	$dbh->disconnect();
{% endif %}

}
elsif($arg eq "post") {
{% if item.snapshot is defined %}
	system("/bin/umount ${snapshotmount}");

	system("/sbin/lvremove -f /dev/vg/${snapshotname}");
{% endif %}
}
